* {
  font-family: sans-serif;
}

iframe {
  width: 500px;
}

.video {
  display: inline-block;
}

.board {
  text-align: center;
  width: 1800px;
  height: 700px;
}

/*********
DECK
*********/

/*********
TRACK PROGRESS BAR
*********/

.track-progress-bar {
  width: 80%;
  margin: 50px 0;
}

/*********
VOLUME
*********/

#volume-slider {
  margin: 0 50px;
  height: 200px;
  display: inline-block;
}

.rc-slider-track {
  width: 5px !important;
  background-color: red !important;
}

.rc-slider-handle {
    margin-left: -20px !important;
    width: 50px !important;
    box-shadow: 1px 1px 4.5px #8e8e8e, 0px 0px 1px #9b9b9b !important;
    border: 0px solid #e1e1e1 !important;
    height: 20px !important;
    border-radius: 5px !important;
    background: #e1e1e1 !important;
}

/*********
CROSSFADER
*********/

input[type=range].cross-fader-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 19.45px 0;
}
input[type=range].cross-fader-slider:focus {
  outline: none;
}
input[type=range].cross-fader-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #e62117;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].cross-fader-slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 4.5px #8e8e8e, 0px 0px 1px #9b9b9b;
  border: 0px solid #e1e1e1;
  height: 47px;
  width: 21px;
  border-radius: 5px;
  background: #e1e1e1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -19.45px;
}
input[type=range].cross-fader-slider:focus::-webkit-slider-runnable-track {
  background: #e62117;
}
input[type=range].cross-fader-slider::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #e62117;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].cross-fader-slider::-moz-range-thumb {
  box-shadow: 1px 1px 4.5px #8e8e8e, 0px 0px 1px #9b9b9b;
  border: 0px solid #e1e1e1;
  height: 47px;
  width: 21px;
  border-radius: 5px;
  background: #e1e1e1;
  cursor: pointer;
}
input[type=range].cross-fader-slider::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].cross-fader-slider::-ms-fill-lower {
  background: #e62117;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].cross-fader-slider::-ms-fill-upper {
  background: #e62117;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].cross-fader-slider::-ms-thumb {
  box-shadow: 1px 1px 4.5px #8e8e8e, 0px 0px 1px #9b9b9b;
  border: 0px solid #e1e1e1;
  height: 47px;
  width: 21px;
  border-radius: 5px;
  background: #e1e1e1;
  cursor: pointer;
  height: 5px;
}
input[type=range].cross-fader-slider:focus::-ms-fill-lower {
  background: #e62117;
}
input[type=range].cross-fader-slider:focus::-ms-fill-upper {
  background: #e62117;
}
