* {
  font-family: sans-serif;
}

button:focus {outline:0;}

ul { list-style: none; }

.app {
  margin: 0 auto;
}

iframe {
  width: 500px;
  pointer-events: none;
}

.board {
  margin: 0 auto;
  text-align: center;
  width: 1800px;
  height: 600px;
}

/*********
CONTROLLER
*********/

.controller {
  display: inline-block;
  width: 300px;
}

.autoplay-button-active {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.autoplay-button-active:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.autoplay-button-active:active {
	position:relative;
	top:1px;
}


/*********
DECK
*********/

.deck {
  display: inline-block;
  width: 750px;
}

.track-title-time {
  width: 500px;
  display: inline-block;
}

.track-title {
  font-size: 1.2em;
  text-align: left;
  display: inline-block;
  width: 400px;
}

.track-time {
  text-align: right;
  display: inline-block;
  width: 100px;
}

.play-button-active {
	-moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
	-webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.play-button-active:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.play-button-active:active {
	position:relative;
	top:1px;
}

.default-button {
  background-color: white;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
}

.default-button:hover {
	background-color: white;
}

.default-button:active {
	position:relative;
	top:1px;
}

/*********
TRACK PROGRESS BAR
*********/

.track-progress-bar {
  width: 80%;
  margin: 50px 0;
}

/*********
VOLUME
*********/

#volume-slider {
  margin: 0 50px;
  height: 200px;
  display: inline-block;
}

.rc-slider-track {
  width: 5px !important;
  background-color: red !important;
}

.rc-slider-handle {
    margin-left: -20px !important;
    width: 50px !important;
    box-shadow: 1px 1px 4.5px #8e8e8e, 0px 0px 1px #9b9b9b !important;
    border: 0px solid #e1e1e1 !important;
    height: 20px !important;
    border-radius: 5px !important;
    background: #e1e1e1 !important;
}

/*********
CROSSFADER
*********/

input[type=range].cross-fader-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 19.45px 0;
}
input[type=range].cross-fader-slider:focus {
  outline: none;
}
input[type=range].cross-fader-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #e62117;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].cross-fader-slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 4.5px #8e8e8e, 0px 0px 1px #9b9b9b;
  border: 0px solid #e1e1e1;
  height: 47px;
  width: 21px;
  border-radius: 5px;
  background: #e1e1e1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -19.45px;
}
input[type=range].cross-fader-slider:focus::-webkit-slider-runnable-track {
  background: #e62117;
}
input[type=range].cross-fader-slider::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #e62117;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].cross-fader-slider::-moz-range-thumb {
  box-shadow: 1px 1px 4.5px #8e8e8e, 0px 0px 1px #9b9b9b;
  border: 0px solid #e1e1e1;
  height: 47px;
  width: 21px;
  border-radius: 5px;
  background: #e1e1e1;
  cursor: pointer;
}
input[type=range].cross-fader-slider::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].cross-fader-slider::-ms-fill-lower {
  background: #e62117;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].cross-fader-slider::-ms-fill-upper {
  background: #e62117;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].cross-fader-slider::-ms-thumb {
  box-shadow: 1px 1px 4.5px #8e8e8e, 0px 0px 1px #9b9b9b;
  border: 0px solid #e1e1e1;
  height: 47px;
  width: 21px;
  border-radius: 5px;
  background: #e1e1e1;
  cursor: pointer;
  height: 5px;
}
input[type=range].cross-fader-slider:focus::-ms-fill-lower {
  background: #e62117;
}
input[type=range].cross-fader-slider:focus::-ms-fill-upper {
  background: #e62117;
}

#queue {
  width: 1500px;
  margin: 0 auto;
}

#search {
  width: 1500px;
  margin: 0 auto;
}

#search-input {
  height: 35px;
  border-radius: 6px;
  border: 1px solid black
}

#sidebar {
  width: 1500px;
  margin: 0 auto;
}

#sidebar-tracks {
  padding: 0;
}

#sidebar-track {
  margin: 10px 0;
}

#sidebar-track * {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}

#sidebar-track p {
  font-size: 1.2em;
}

.sidebar-track-buttons {
  float: right;
}

#pagination-buttons {
  margin: 20px 0;
}

.pagination-button {
  cursor: pointer;
  color: red;
  margin: 0px 10px;
}
